fastapi
uvicorn

httpx

# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart

# Database
sqlalchemy
psycopg2-binary

# Testing
pytest
pytest-asyncio
pytest-cov
websockets
